@import url("/src/styles/util.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  scroll-behavior: smooth;
  color: var(--v-d-v);
  font-family: var(--ftf);
}

html {
  width: var(--mx-w);
  min-height: 113.215rem;
  font-size: var(--fts);
  background: var(--wt) url("/images/bg-main-desktop.png") no-repeat border-box top left/35% 100%;
}
html body {
  min-height: inherit;
}

.card {
  flex: 0.6 1 auto;
}
.card__cards {
  width: 40%;
  overflow: visible;
}
.card__cards div:not(.card__img, .card__details) {
  height: 30%;
  border-radius: var(--fts);
  box-shadow: 0 var(--fts) calc(var(--rad) * 3) calc(var(--fts) * 2) rgba(0, 0, 0, 0.08);
}
.card__img {
  flex: 0.1 1 auto;
}
.card__img img {
  width: 8.208rem;
  height: 4.434rem;
}
.card__details {
  flex: 0.4 1 auto;
}
.card__details p {
  justify-content: space-between;
  transform: translateY(90%);
}
.card__front {
  background: var(--wt) url("/images/bg-card-front.png") no-repeat border-box var(--cn)/cover;
  justify-content: space-evenly;
  padding: 0 8%;
}
.card__back {
  position: relative;
  background: var(--wt) url("/images/bg-card-back.png") no-repeat border-box var(--cn)/cover;
  transform: translate(20%, -30%);
}
.card__back span {
  position: absolute;
  top: 45%;
  left: 80%;
}
.card__form {
  width: 30%;
}
.card__form form {
  flex: 0.2 1 auto;
}
.card__form form label:not(div > label) {
  flex: 0.18 1 auto;
}
.card__form form label:not(div > label) input {
  height: 48%;
}
.card__form form div:not(.pack) {
  flex: 0.299 1 auto;
  justify-content: space-between;
}
.card__form form div:not(.pack) .pack {
  height: 50%;
  justify-content: space-between;
}
.card__form form div:not(.pack) .pack input {
  width: 45%;
}
.card__form form div:not(.pack) label {
  height: 80%;
  width: 50%;
}
.card__form form div:not(.pack) label:last-child {
  width: 45%;
}
.card__form form div:not(.pack) label:last-child input {
  height: 50%;
}
.card__form form .btn {
  flex: 0.13 1 auto;
}
.card__complete {
  flex: 0.3 1 auto;
}
.card__complete div {
  flex: 0.3 1 auto;
  width: max-content;
  align-self: var(--cn);
}
.card__complete div img {
  align-self: var(--cn);
  width: 5.03rem;
  height: 5.03rem;
}
.card__complete div span {
  color: var(--d-g-v);
}
.card__complete .btn {
  flex: 0.1 1 auto;
}

#tb, #mb {
  min-height: var(--st-h);
  background-position: top left;
  background-size: var(--st-w) calc(var(--st-w) / 3.2);
}
#tb body, #mb body {
  justify-content: flex-start;
}

#mb .card {
  flex-flow: column;
  min-height: var(--st-h);
}
#mb .card__cards {
  width: 100%;
  height: 400px;
  position: relative;
}
#mb .card__front, #mb .card__back {
  position: absolute;
  width: 90%;
  height: 190px;
  border-radius: var(--rad);
}
#mb .card__front span, #mb .card__back span {
  font-size: 0.7rem;
}
#mb .card__front {
  transform: translate(2%, 20%);
  z-index: 2;
}
#mb .card__front h1 {
  font-size: 1.3rem;
}
#mb .card__front img {
  width: 4.104rem;
  height: 2.217rem;
}
#mb .card__back {
  transform: translate(10%, -40%);
}
#mb .card__form {
  width: 90%;
  height: 28.304rem;
  place-self: var(--cn);
}
#mb .card__form form {
  height: 100%;
}
#mb .card__complete {
  height: 25.159rem;
}
#mb .card__complete div {
  flex: 0.5 1 auto;
}

#tb .card {
  flex-flow: column;
  justify-content: space-evenly;
}
#tb .card__cards {
  width: 490px;
  height: 300px;
  position: relative;
  align-self: var(--cn);
}
#tb .card__front, #tb .card__back {
  position: absolute;
  height: 100%;
  width: 100%;
}
#tb .card__front {
  transform: translate(0, 20%);
  z-index: 2;
}
#tb .card__back {
  transform: translate(25%, -15%);
}
#tb .card__form {
  align-self: var(--cn);
  width: 50%;
  height: 500px;
}
#tb .card__form form {
  height: 80%;
}
#tb .card__complete {
  height: 80%;
}

/*# sourceMappingURL=main.css.map */
