@import url("/src/styles/main.css");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500&display=swap");
:root {
  --fts: 15.899px;
  --rad: .629rem;
  --sz: 6.2897rem;
  --st-w: 100%;
  --st-h: 100vh;
  --mx-w: 1440px;
  --mx-h: 69.1867rem;
  --cn: center;
  --ts: transparent;
  --bd: 1px solid currentColor;
  --ftf: "Space Grotesk",sans-serif;
  --bezier: ease;
  --trans: all 0.15s ease;
  --active-col: hsla(249,99%,64%,1) ;
  --error-col: hsla(0,100%,66%,1);
  --wt: #fff;
  --l-g-v: hsla(270,3%,87%,1);
  --d-g-v: hsla(279,6%,55%,1);
  --v-d-v: hsla(278,68%,11%,1);
}

.fx {
  display: flex;
}
.fx-row {
  flex-flow: row;
  justify-content: space-around;
  align-content: var(--cn);
}
.fx-col {
  flex-flow: column;
  justify-content: space-evenly;
  align-content: var(--cn);
}

.hide {
  display: none;
}

.trans, .trans:hover, .trans:active, .trans:focus, .trans:valid, .trans:invalid {
  transition: var(--trans);
}
.btn {
  border: 1px solid var(--v-d-v);
  background-color: var(--v-d-v);
  font-weight: 500;
  color: var(--l-g-v);
  border-radius: calc(var(--rad) / 1.3);
  box-shadow: 0 var(--fts) calc(var(--rad) * 3) calc(var(--fts) * 2) hsla(278deg, 58%, 15%, 0.1);
}
.btn:hover {
  transform: translate(0, -4%) scale(1.01);
}

.tx-cn {
  text-align: var(--cn);
}

.valid {
  border-color: var(--active-col);
}

.invalid {
  border-color: var(--error-col);
  animation: shake 0.2s var(--bezier) 3;
}

.error {
  font-size: 0.75rem;
  color: var(--error-col);
  width: max-content;
  margin: calc(var(--rad) / 2.5);
  font-weight: bold;
}

.l-opacity {
  opacity: 0;
}

.layer {
  border-radius: calc(var(--rad) / 2);
  background-color: hsla(0deg, 0%, 100%, 0.2);
  border: 2px solid;
}

input {
  color: var(--v-d-v);
  border: 3px solid var(--l-g-v);
  border-radius: calc(var(--rad) / 1.3);
  padding: 0 5%;
}

label > span {
  font-size: 0.99rem;
  color: var(--v-d-v);
  font-weight: bold;
  margin-bottom: 1%;
}

h1 {
  font-size: 2.2rem;
  letter-spacing: 3px;
  color: var(--l-g-v);
}

#tb h1 {
  font-size: 1.9rem;
  letter-spacing: 1.5px;
}

#mb h1 {
  letter-spacing: 1px;
}

h2 {
  font-size: 2rem;
}

span {
  color: var(--l-g-v);
  font-size: 1.1rem;
}

a {
  color: inherit;
}

.attr {
  width: 3.145rem;
  height: 3.145rem;
  background: var(--ts) url("/images/favicon-32x32.png") no-repeat padding-box var(--cn)/cover;
  border-radius: var(--st-w);
  border: 3px solid var(--v-d-v);
  position: fixed;
  top: 80%;
  left: 70%;
}
.attr p {
  background-image: linear-gradient(45deg, var(--v-d-v), var(--active-col));
  width: 15.724rem;
  height: 15.724rem;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 9;
  border-radius: var(--st-w);
  border: 3px solid;
  transform: scale(0) translate3d(-50%, -100%, 0);
  color: var(--l-g-v);
}
.attr.show {
  border-color: var(--active-col);
}
.attr.show p {
  transform: scale(1) translate3d(-50%, -50%, 0);
  box-shadow: 0 var(--fts) var(--fts) var(--rad) rgba(0, 0, 0, 0.1);
}

.load {
  background-image: conic-gradient(from -30rad at 50%, var(--v-d-v) 20%, var(--ts) 30% 50%, var(--v-d-v));
  background-size: 100% 100% !important;
  min-height: var(--st-h);
  animation: col 5s ease-in-out infinite;
}

@media (max-width: 1000px) {
  html {
    width: var(--st-w);
  }
}
@keyframes shake {
  0%, 30% {
    transform: translateX(5px);
  }
  30%, 60% {
    transform: translateX(-10px);
  }
  60%, 90% {
    transform: translateX(10px);
  }
  100% {
    transform: none;
  }
}
@keyframes col {
  1% {
    background-image: conic-gradient(from 21rad at 50%, var(--v-d-v) 1.2%, var(--ts) 30% 1.5%, var(--v-d-v));
  }
  2% {
    background-image: conic-gradient(from 22rad at 50%, var(--v-d-v) 2.2%, var(--ts) 30% 2.5%, var(--v-d-v));
  }
  3% {
    background-image: conic-gradient(from 23rad at 50%, var(--v-d-v) 3.2%, var(--ts) 30% 3.5%, var(--v-d-v));
  }
  4% {
    background-image: conic-gradient(from 24rad at 50%, var(--v-d-v) 4.2%, var(--ts) 30% 4.5%, var(--v-d-v));
  }
  5% {
    background-image: conic-gradient(from 25rad at 50%, var(--v-d-v) 5.2%, var(--ts) 30% 5.5%, var(--v-d-v));
  }
  6% {
    background-image: conic-gradient(from 26rad at 50%, var(--v-d-v) 6.2%, var(--ts) 30% 6.5%, var(--v-d-v));
  }
  7% {
    background-image: conic-gradient(from 27rad at 50%, var(--v-d-v) 7.2%, var(--ts) 30% 7.5%, var(--v-d-v));
  }
  8% {
    background-image: conic-gradient(from 28rad at 50%, var(--v-d-v) 8.2%, var(--ts) 30% 8.5%, var(--v-d-v));
  }
  9% {
    background-image: conic-gradient(from 29rad at 50%, var(--v-d-v) 9.2%, var(--ts) 30% 9.5%, var(--v-d-v));
  }
  10% {
    background-image: conic-gradient(from 30rad at 50%, var(--v-d-v) 10.2%, var(--ts) 30% 10.5%, var(--v-d-v));
  }
  11% {
    background-image: conic-gradient(from 31rad at 50%, var(--v-d-v) 11.2%, var(--ts) 30% 11.5%, var(--v-d-v));
  }
  12% {
    background-image: conic-gradient(from 32rad at 50%, var(--v-d-v) 12.2%, var(--ts) 30% 12.5%, var(--v-d-v));
  }
  13% {
    background-image: conic-gradient(from 33rad at 50%, var(--v-d-v) 13.2%, var(--ts) 30% 13.5%, var(--v-d-v));
  }
  14% {
    background-image: conic-gradient(from 34rad at 50%, var(--v-d-v) 14.2%, var(--ts) 30% 14.5%, var(--v-d-v));
  }
  15% {
    background-image: conic-gradient(from 35rad at 50%, var(--v-d-v) 15.2%, var(--ts) 30% 15.5%, var(--v-d-v));
  }
  16% {
    background-image: conic-gradient(from 36rad at 50%, var(--v-d-v) 16.2%, var(--ts) 30% 16.5%, var(--v-d-v));
  }
  17% {
    background-image: conic-gradient(from 37rad at 50%, var(--v-d-v) 17.2%, var(--ts) 30% 17.5%, var(--v-d-v));
  }
  18% {
    background-image: conic-gradient(from 38rad at 50%, var(--v-d-v) 18.2%, var(--ts) 30% 18.5%, var(--v-d-v));
  }
  19% {
    background-image: conic-gradient(from 39rad at 50%, var(--v-d-v) 19.2%, var(--ts) 30% 19.5%, var(--v-d-v));
  }
  20% {
    background-image: conic-gradient(from 40rad at 50%, var(--v-d-v) 20.2%, var(--ts) 30% 20.5%, var(--v-d-v));
  }
  21% {
    background-image: conic-gradient(from 41rad at 50%, var(--v-d-v) 21.2%, var(--ts) 30% 21.5%, var(--v-d-v));
  }
  22% {
    background-image: conic-gradient(from 42rad at 50%, var(--v-d-v) 22.2%, var(--ts) 30% 22.5%, var(--v-d-v));
  }
  23% {
    background-image: conic-gradient(from 43rad at 50%, var(--v-d-v) 23.2%, var(--ts) 30% 23.5%, var(--v-d-v));
  }
  24% {
    background-image: conic-gradient(from 44rad at 50%, var(--v-d-v) 24.2%, var(--ts) 30% 24.5%, var(--v-d-v));
  }
  25% {
    background-image: conic-gradient(from 45rad at 50%, var(--v-d-v) 25.2%, var(--ts) 30% 25.5%, var(--v-d-v));
  }
  26% {
    background-image: conic-gradient(from 46rad at 50%, var(--v-d-v) 26.2%, var(--ts) 30% 26.5%, var(--v-d-v));
  }
  27% {
    background-image: conic-gradient(from 47rad at 50%, var(--v-d-v) 27.2%, var(--ts) 30% 27.5%, var(--v-d-v));
  }
  28% {
    background-image: conic-gradient(from 48rad at 50%, var(--v-d-v) 28.2%, var(--ts) 30% 28.5%, var(--v-d-v));
  }
  29% {
    background-image: conic-gradient(from 49rad at 50%, var(--v-d-v) 29.2%, var(--ts) 30% 29.5%, var(--v-d-v));
  }
  30% {
    background-image: conic-gradient(from 50rad at 50%, var(--v-d-v) 30.2%, var(--ts) 30% 30.5%, var(--v-d-v));
  }
  31% {
    background-image: conic-gradient(from 51rad at 50%, var(--v-d-v) 31.2%, var(--ts) 30% 31.5%, var(--v-d-v));
  }
  32% {
    background-image: conic-gradient(from 52rad at 50%, var(--v-d-v) 32.2%, var(--ts) 30% 32.5%, var(--v-d-v));
  }
  33% {
    background-image: conic-gradient(from 53rad at 50%, var(--v-d-v) 33.2%, var(--ts) 30% 33.5%, var(--v-d-v));
  }
  34% {
    background-image: conic-gradient(from 54rad at 50%, var(--v-d-v) 34.2%, var(--ts) 30% 34.5%, var(--v-d-v));
  }
  35% {
    background-image: conic-gradient(from 55rad at 50%, var(--v-d-v) 35.2%, var(--ts) 30% 35.5%, var(--v-d-v));
  }
  36% {
    background-image: conic-gradient(from 56rad at 50%, var(--v-d-v) 36.2%, var(--ts) 30% 36.5%, var(--v-d-v));
  }
  37% {
    background-image: conic-gradient(from 57rad at 50%, var(--v-d-v) 37.2%, var(--ts) 30% 37.5%, var(--v-d-v));
  }
  38% {
    background-image: conic-gradient(from 58rad at 50%, var(--v-d-v) 38.2%, var(--ts) 30% 38.5%, var(--v-d-v));
  }
  39% {
    background-image: conic-gradient(from 59rad at 50%, var(--v-d-v) 39.2%, var(--ts) 30% 39.5%, var(--v-d-v));
  }
  40% {
    background-image: conic-gradient(from 60rad at 50%, var(--v-d-v) 40.2%, var(--ts) 30% 40.5%, var(--v-d-v));
  }
  41% {
    background-image: conic-gradient(from 61rad at 50%, var(--v-d-v) 41.2%, var(--ts) 30% 41.5%, var(--v-d-v));
  }
  42% {
    background-image: conic-gradient(from 62rad at 50%, var(--v-d-v) 42.2%, var(--ts) 30% 42.5%, var(--v-d-v));
  }
  43% {
    background-image: conic-gradient(from 63rad at 50%, var(--v-d-v) 43.2%, var(--ts) 30% 43.5%, var(--v-d-v));
  }
  44% {
    background-image: conic-gradient(from 64rad at 50%, var(--v-d-v) 44.2%, var(--ts) 30% 44.5%, var(--v-d-v));
  }
  45% {
    background-image: conic-gradient(from 65rad at 50%, var(--v-d-v) 45.2%, var(--ts) 30% 45.5%, var(--v-d-v));
  }
  46% {
    background-image: conic-gradient(from 66rad at 50%, var(--v-d-v) 46.2%, var(--ts) 30% 46.5%, var(--v-d-v));
  }
  47% {
    background-image: conic-gradient(from 67rad at 50%, var(--v-d-v) 47.2%, var(--ts) 30% 47.5%, var(--v-d-v));
  }
  48% {
    background-image: conic-gradient(from 68rad at 50%, var(--v-d-v) 48.2%, var(--ts) 30% 48.5%, var(--v-d-v));
  }
  49% {
    background-image: conic-gradient(from 69rad at 50%, var(--v-d-v) 49.2%, var(--ts) 30% 49.5%, var(--v-d-v));
  }
  50% {
    background-image: conic-gradient(from 70rad at 50%, var(--v-d-v) 50.2%, var(--ts) 30% 50.5%, var(--v-d-v));
  }
  51% {
    background-image: conic-gradient(from 71rad at 50%, var(--v-d-v) 51.2%, var(--ts) 30% 51.5%, var(--v-d-v));
  }
  52% {
    background-image: conic-gradient(from 72rad at 50%, var(--v-d-v) 52.2%, var(--ts) 30% 52.5%, var(--v-d-v));
  }
  53% {
    background-image: conic-gradient(from 73rad at 50%, var(--v-d-v) 53.2%, var(--ts) 30% 53.5%, var(--v-d-v));
  }
  54% {
    background-image: conic-gradient(from 74rad at 50%, var(--v-d-v) 54.2%, var(--ts) 30% 54.5%, var(--v-d-v));
  }
  55% {
    background-image: conic-gradient(from 75rad at 50%, var(--v-d-v) 55.2%, var(--ts) 30% 55.5%, var(--v-d-v));
  }
  56% {
    background-image: conic-gradient(from 76rad at 50%, var(--v-d-v) 56.2%, var(--ts) 30% 56.5%, var(--v-d-v));
  }
  57% {
    background-image: conic-gradient(from 77rad at 50%, var(--v-d-v) 57.2%, var(--ts) 30% 57.5%, var(--v-d-v));
  }
  58% {
    background-image: conic-gradient(from 78rad at 50%, var(--v-d-v) 58.2%, var(--ts) 30% 58.5%, var(--v-d-v));
  }
  59% {
    background-image: conic-gradient(from 79rad at 50%, var(--v-d-v) 59.2%, var(--ts) 30% 59.5%, var(--v-d-v));
  }
  60% {
    background-image: conic-gradient(from 80rad at 50%, var(--v-d-v) 60.2%, var(--ts) 30% 60.5%, var(--v-d-v));
  }
  61% {
    background-image: conic-gradient(from 81rad at 50%, var(--v-d-v) 61.2%, var(--ts) 30% 61.5%, var(--v-d-v));
  }
  62% {
    background-image: conic-gradient(from 82rad at 50%, var(--v-d-v) 62.2%, var(--ts) 30% 62.5%, var(--v-d-v));
  }
  63% {
    background-image: conic-gradient(from 83rad at 50%, var(--v-d-v) 63.2%, var(--ts) 30% 63.5%, var(--v-d-v));
  }
  64% {
    background-image: conic-gradient(from 84rad at 50%, var(--v-d-v) 64.2%, var(--ts) 30% 64.5%, var(--v-d-v));
  }
  65% {
    background-image: conic-gradient(from 85rad at 50%, var(--v-d-v) 65.2%, var(--ts) 30% 65.5%, var(--v-d-v));
  }
  66% {
    background-image: conic-gradient(from 86rad at 50%, var(--v-d-v) 66.2%, var(--ts) 30% 66.5%, var(--v-d-v));
  }
  67% {
    background-image: conic-gradient(from 87rad at 50%, var(--v-d-v) 67.2%, var(--ts) 30% 67.5%, var(--v-d-v));
  }
  68% {
    background-image: conic-gradient(from 88rad at 50%, var(--v-d-v) 68.2%, var(--ts) 30% 68.5%, var(--v-d-v));
  }
  69% {
    background-image: conic-gradient(from 89rad at 50%, var(--v-d-v) 69.2%, var(--ts) 30% 69.5%, var(--v-d-v));
  }
  70% {
    background-image: conic-gradient(from 90rad at 50%, var(--v-d-v) 70.2%, var(--ts) 30% 70.5%, var(--v-d-v));
  }
  71% {
    background-image: conic-gradient(from 91rad at 50%, var(--v-d-v) 71.2%, var(--ts) 30% 71.5%, var(--v-d-v));
  }
  72% {
    background-image: conic-gradient(from 92rad at 50%, var(--v-d-v) 72.2%, var(--ts) 30% 72.5%, var(--v-d-v));
  }
  73% {
    background-image: conic-gradient(from 93rad at 50%, var(--v-d-v) 73.2%, var(--ts) 30% 73.5%, var(--v-d-v));
  }
  74% {
    background-image: conic-gradient(from 94rad at 50%, var(--v-d-v) 74.2%, var(--ts) 30% 74.5%, var(--v-d-v));
  }
  75% {
    background-image: conic-gradient(from 95rad at 50%, var(--v-d-v) 75.2%, var(--ts) 30% 75.5%, var(--v-d-v));
  }
  76% {
    background-image: conic-gradient(from 96rad at 50%, var(--v-d-v) 76.2%, var(--ts) 30% 76.5%, var(--v-d-v));
  }
  77% {
    background-image: conic-gradient(from 97rad at 50%, var(--v-d-v) 77.2%, var(--ts) 30% 77.5%, var(--v-d-v));
  }
  78% {
    background-image: conic-gradient(from 98rad at 50%, var(--v-d-v) 78.2%, var(--ts) 30% 78.5%, var(--v-d-v));
  }
  79% {
    background-image: conic-gradient(from 99rad at 50%, var(--v-d-v) 79.2%, var(--ts) 30% 79.5%, var(--v-d-v));
  }
  80% {
    background-image: conic-gradient(from 100rad at 50%, var(--v-d-v) 80.2%, var(--ts) 30% 80.5%, var(--v-d-v));
  }
  81% {
    background-image: conic-gradient(from 101rad at 50%, var(--v-d-v) 81.2%, var(--ts) 30% 81.5%, var(--v-d-v));
  }
  82% {
    background-image: conic-gradient(from 102rad at 50%, var(--v-d-v) 82.2%, var(--ts) 30% 82.5%, var(--v-d-v));
  }
  83% {
    background-image: conic-gradient(from 103rad at 50%, var(--v-d-v) 83.2%, var(--ts) 30% 83.5%, var(--v-d-v));
  }
  84% {
    background-image: conic-gradient(from 104rad at 50%, var(--v-d-v) 84.2%, var(--ts) 30% 84.5%, var(--v-d-v));
  }
  85% {
    background-image: conic-gradient(from 105rad at 50%, var(--v-d-v) 85.2%, var(--ts) 30% 85.5%, var(--v-d-v));
  }
  86% {
    background-image: conic-gradient(from 106rad at 50%, var(--v-d-v) 86.2%, var(--ts) 30% 86.5%, var(--v-d-v));
  }
  87% {
    background-image: conic-gradient(from 107rad at 50%, var(--v-d-v) 87.2%, var(--ts) 30% 87.5%, var(--v-d-v));
  }
  88% {
    background-image: conic-gradient(from 108rad at 50%, var(--v-d-v) 88.2%, var(--ts) 30% 88.5%, var(--v-d-v));
  }
  89% {
    background-image: conic-gradient(from 109rad at 50%, var(--v-d-v) 89.2%, var(--ts) 30% 89.5%, var(--v-d-v));
  }
  90% {
    background-image: conic-gradient(from 110rad at 50%, var(--v-d-v) 90.2%, var(--ts) 30% 90.5%, var(--v-d-v));
  }
  91% {
    background-image: conic-gradient(from 111rad at 50%, var(--v-d-v) 91.2%, var(--ts) 30% 91.5%, var(--v-d-v));
  }
  92% {
    background-image: conic-gradient(from 112rad at 50%, var(--v-d-v) 92.2%, var(--ts) 30% 92.5%, var(--v-d-v));
  }
  93% {
    background-image: conic-gradient(from 113rad at 50%, var(--v-d-v) 93.2%, var(--ts) 30% 93.5%, var(--v-d-v));
  }
  94% {
    background-image: conic-gradient(from 114rad at 50%, var(--v-d-v) 94.2%, var(--ts) 30% 94.5%, var(--v-d-v));
  }
  95% {
    background-image: conic-gradient(from 115rad at 50%, var(--v-d-v) 95.2%, var(--ts) 30% 95.5%, var(--v-d-v));
  }
  96% {
    background-image: conic-gradient(from 116rad at 50%, var(--v-d-v) 96.2%, var(--ts) 30% 96.5%, var(--v-d-v));
  }
  97% {
    background-image: conic-gradient(from 117rad at 50%, var(--v-d-v) 97.2%, var(--ts) 30% 97.5%, var(--v-d-v));
  }
  98% {
    background-image: conic-gradient(from 118rad at 50%, var(--v-d-v) 98.2%, var(--ts) 30% 98.5%, var(--v-d-v));
  }
  99% {
    background-image: conic-gradient(from 119rad at 50%, var(--v-d-v) 99.2%, var(--ts) 30% 99.5%, var(--v-d-v));
  }
  100% {
    background-image: conic-gradient(from 120rad at 50%, var(--v-d-v) 100.2%, var(--ts) 30% 100.5%, var(--v-d-v));
  }
}

/*# sourceMappingURL=util.css.map */
